body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-container{
  min-height: 100vh;
}
main{
  flex: 1;
}

.products{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.product{
  border: 1px solid darkgray;
  margin: 1rem;
 max-width:400px;
}

.product img{
  width: 100%;
}

.product-info{
  padding: 1rem;
}

.rating span{
  color: #f7c224;
}

.btn-primary{
  background-color: #f0c040;
  color: black;
}
.btn-primary:hover{
  background-color: #e2b63c;
  color: black;
}

.img-large{
  width: 80%;
}